html{
	font-size: 18px;
	line-height: 1.4;
}

@media (max-width: 1280px){
	html{
		font-size: 16px;
	}
}

@media (max-width: 1024px), (max-height: 800px){
	html{
		font-size: 15px;
	}
}

body{
	font-family: "Open Sans", Arial, sans-serif;
}

a,
a:hover,
a:focus,
a:active{
	outline:0;
}

.text-center{
	text-align: center;
}

.layout{
	min-height: 100vh;
	overflow: hidden;
}

@media (max-width: 768px){
	.container{
		padding-left: 15px;
		padding-right: 15px;
	}
}


/* Typography */
h1,h2{
	font-family: "Source Sans Pro", "Open Sans", Arial, sans-serif;
	font-weight: 900;
	margin-top:0;
	line-height: 1.1;
}

h2{
	font-size: 1.5rem;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 600;
}

h3{
	font-size: 18px;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 16px;
}

p{
	margin-top:0;
	margin-bottom: 1.333rem;
}

p:last-child{
	margin-bottom: 0;
}

a{
	color: #0070c5;
}

.fake-link{
	text-decoration: none;
	border-bottom: 1px dashed;
}

.clearfix{
	height: 1px;
	clear: both;
}

/* Buttons */

.mdc-button{
	border-radius: 24px;
	box-shadow: none;
	text-transform: none;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 16px;
	letter-spacing: 0;
	padding: 0 32px;
    height: 48px;
    line-height: 48px;
	letter-spacing: .3px;
}
.mdc-button--lg{
    font-size: 20px;
	padding: 0 48px;
    height: 64px;
    line-height: 64px;
    border-radius: 32px;
}

.mdc-button--primary.mdc-button--raised{
	background-color: #0070c5;
	color: #fff;
}

.mdc-button--outline,
.mdc-button--outline.mdc-button--raised{
	border: 2px solid;
	background-color: transparent;
	line-height: 44px;
}

.mdc-button--outline.mdc-button--lg,
.mdc-button--outline.mdc-button--raised.mdc-button--lg{
	line-height: 60px;
}

.mdc-button--outline.mdc-button--primary{
	border-color: #0070c5;
	color: #0070c5;
}

.mdc-button--outline.mdc-button--primary:hover{
	background-color: rgba(0, 112, 197, 0.12);
}

/* Forms */
button, input, optgroup, select, textarea, .mdc-textfield{
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.2;
}

.form-group{
	margin-bottom: .75rem;
}

.form .mdc-button{
	margin-top: 2rem;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

/*Main*/

.dday-main{
	-js-display: flex;
	display: flex;
	direction: row;
	align-items:center;
	justify-content: center;
	height: 100vh;
	min-height: 680px;
}


@media (max-width: 1500px){
	.dday-main{
		padding-left: 10.444rem;
		padding-right: 10.444rem;
	}
}

@media (max-width: 1122px){
	.dday-main{
		display: block;
		height: auto;
		min-height: 0;
		padding-top: 96px;
	}
}

@media (max-width: 768px){
	.dday-main{
		display: block;
		height: auto;
		min-height: 0;
		padding-left: 15px;
	    padding-right: 15px;
	    padding-top: 60px
	}
}

.dday-main__inner{
	position: relative;
	width: 70%;
	max-width: 1024px;
	height: calc(100vh - 260px);
	min-height: 450px;
	max-height: 650px;
	padding: 4rem 5rem;

	-js-display: flex;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    background: url('../img/map.svg') -150px -120px no-repeat;
}

@media (max-width: 1600px){
	.dday-main__inner{
		max-width: 880px;
		width: 100%;
	}
}

@media (max-height: 800px){
	.dday-main__inner{
		height: auto;
	}
}

@media (max-width: 768px){
	.dday-main__inner{
		min-height: 0;
		max-height: none;
		height: auto;
		padding: 30px 20px;
		display: block;
	}
}


.dday-main__bg{
	position: absolute;
	left:-50px;
	top:0;
	z-index:0;
}

.dday-main__title{
	font-size: 8.889rem;
	letter-spacing: -5px;
	word-spacing: 5px;
	line-height: .8;
	margin-bottom: 2.8rem;
}

@media (max-width: 1280px){
	.dday-main__title{
		font-size: 110px;
	}
}

@media (max-width: 768px){
	.dday-main__title{
		font-size: 60px;
	    letter-spacing: -2px;
	    margin-bottom: 32px;
	    word-spacing: 0;
	    text-align: center;
	}
}

.logo{
	position: absolute;
	left: -8rem; /*-7.9vw;*/
	top:0;
	text-decoration: none;
	height: 60%;
	max-height: 382px;
	transform: translateX(-50%);
}

.logo__pic{
	height: 100%;
	width: auto;
}


@media (max-width: 1500px){
	.logo{
		left: -5.222rem;
		max-height: 320px;
	}
}

.logo--mobile{
	left: 0;
    width: 148px;
    height: auto;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transform: none;
    top: -40px;
}

.logo--mobile .logo__pic{
	width: 100%;
	max-height: auto;
}

.dday-main__date{
	font-size: 22px;
	color: #00cc8b;
	line-height: 1;
	display: inline-block;
	position: absolute;
	right: 0;
	top: -65px;
	margin-top: -9px;
	/*font-weight: 600;*/
}

@media (max-height: 800px){
	.dday-main__date{
		top: -50px;
	}
}

@media (max-width: 768px){
	.dday-main__date{
		position: static;
		font-size: 1.2rem;
		top: auto;
		left: auto;
		margin-top: 16px;
		display: block;
	}
}

@media (max-width: 480px){
	.dday-main__date{
		font-size: 1rem;
	}
}

.dday-main__map-link{
	margin-left: 12px;
}


.dday-main__text{
	font-size: 1.667rem;
	font-weight: 300;
	line-height: 1.5;
	max-width: 85%;
	color: rgba(0,0,0,.65);
}

@media (max-width: 1024px){
	.dday-main__text{
		width: 100%;
		max-width: none;
	}
}

@media (max-width: 768px){
	.dday-main__text{
		font-size: 18px;
	}
}

.dday-main__buttons{
	white-space: nowrap;
}

.dday-main__button{
	margin-top: 3.5rem;
	flex: none;
}

.dday-main__button--fb{
	margin-left: 16px;
	padding-left: 36px;
	padding-right: 36px;
}

.dday-main__button--fb img{
	position: relative;
	vertical-align: middle;
	margin-right: 8px;
	top: -2px;
}

@media (max-width: 1024px){
	.dday-main__button{
		margin-top: 30px;
		margin-bottom: 16px;
	}

	.dday-main__button--fb{
	    margin-left: 8px;
	    padding-left: 26px;
	    padding-right: 26px;
	}

		.dday-main__button--fb img{
			width: 23px;
			height: 23px;
			margin-right: 4px;
		}
}

@media (max-width: 768px){
	.dday-main__buttons{
		text-align: center;
	}
}

@media (max-width: 430px){
	.dday-main__buttons{
		white-space: normal;
	}

	.dday-main__button{
		width: 180px;
	}

	.dday-main__button--fb{
		margin-left:0;
		margin-top: 0px;
	}
}

.dday-main__about{
	position: absolute;
	font-size: 	16px;
}
@media (max-width: 1122px){
	.dday-main__about{
		font-size: 14px;
	}
}

@media (max-width: 768px){
	.dday-main__about{
		position: static;
		font-size: 13px;
		color: #999;
		display: inline;
	}
}

.dday-main__about--h{
	right: -40px;
	bottom: -40px;
}

.dday-main__about--v{
	transform: translateX(100%) rotate(-90deg);
	transform-origin: left bottom;
	right: -40px;
	bottom: 0;
}

@media (max-width: 768px){
	.dday-main__about--v{
		transform: none;
	}
}

.dday-main__about-item{
	margin-left: 16px;
}

.dday-main__about-item:first-child{
	margin-left:0;
}

@media (max-width: 768px){
	.dday-main__about-item{
		margin-left:0;
		margin-right: 12px;
	}
}

/* Registration */
.registration{
	position: relative;
	margin-top: 12vw;
	background-color: #53a0e8;
	color: #fff;
	padding-bottom: 120px;
	font-weight: 300;
	line-height: 1.5;
}

@media (max-width: 1122px){
	.registration{
		margin-top: 200px;
	}
}

@media (max-width: 768px){
	.registration{
		margin-top: 100px;
		padding-bottom: 60px;
	}
}

.registration::before{
	content: "";
    background-color: #53a0e8;
    height: 7vw;
    padding-top: 120px;
    transform: skewY(4deg);
    transform-origin: left top;
    display: block;
    position: absolute;
    left: 0;
    top: -7vw;
    width: 100%;
}

.registration-form{
	background-color: #fff;
	border-radius: 24px;
	width: 100%;
	margin-top: -130px;
	box-shadow: 0 16px 64px rgba(0,0,0,.18);
	padding:40px 40px 50px;
	color: #000;
}

@media (max-width: 1122px){
	.registration-form{
		margin-top: 80px;
	}
}

@media (max-width: 768px){
	.registration-form{
		margin-top: 40px;
		padding: 24px 24px 30px;
	}

	.registration-form h2{
		font-size: 20px;
	}
}

.registration a{
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid rgba(255,255,255,.5);
}

.registration-form .mdc-textfield,
.registration-form .mdc-textfield__input{
	width: 100%;
}

.registration-form .mdc-textfield__input:required + .mdc-textfield__label::after{
	display: none;
}

.registration__text{
	font-size: 18px;
	padding-top: 2.222rem;
	width: 80%;
}

@media (max-width: 1280px){
	.registration__text{
		font-size: 16px;
	}
}

@media (max-width: 1122px){
	.registration__text{
		width: 100%;
	}
}

@media (max-width: 768px){
	.registration__text{
		font-size: 1rem;
	}
}

.gallery{
	position: relative;
	padding: 0;
	background-color: #ebf3fb;
	overflow: hidden;
}

.gallery__item{
	padding:0;
}
.gallery__pic{
	width: 100%;
	display: block;
}

.gallery__title{
	position: absolute;
    z-index: 10;
    color: #fff;
    top: 30px;
    font-size: 1.5rem;
    left: 30px;
    font-family: "Open Sans";
}

.gallery__title-link{
	background: rgba(8, 185, 152, 0.82);
    padding: 1px 6px 2px;
    text-decoration: none;
    color: #fff;
    white-space: nowrap;
}
	.gallery__title-link:hover{
		background: rgba(8, 185, 152, .96);
		text-decoration: none;
	}

@media (max-width: 768px){
	.gallery__title{
		font-size: 20px;
		left: 15px;
		right: 15px;
		text-align: center;
	}
}


/* Footer */
.footer {
  padding-top: 42px;
  height: 100px;
  color: #777;
  font-size: 15px;
  }

 @media (max-width: 768px){
 	.footer{
	 	padding-top: 30px;
	    height: 105px;
	    font-size: 14px;
	    text-align: center;
	}
 }

  .footer a{
  	color: #777;
  }

  .footer a:hover,
  .footer a:focus,
  .footer a:active,
  .footer a:active:focus {
    color: #000; }

.footer__right {
  margin-top: -5px; }

@media (max-width: 768px){
	.footer__right{
		float: none !important;
	}
}

@media (max-width: 768px){
	.footer__copyright{
		margin-top: 12px;
	}
}


.footer__phone {
  margin-left: 18px;
  margin-right: 18px; }
  .footer__phone:hover, .footer__phone:focus, .footer__phone:active, .footer__phone:active:focus {
    text-decoration: none; }

.social-links {
  display: inline-block;
  vertical-align: middle;
  margin:0;
  list-style-type: none;
  padding:0;
}
  .social-links .social-links__item {
    padding-left: 3px;
    padding-right: 0;
    display: inline-block;
}

.social-link {
  text-decoration: none;
  width: 30px;
  height: 30px;
  display: block; }
  .social-link:hover, .social-link:focus, .social-link:active, .social-link:active:focus {
    text-decoration: none; }

.social-link--twtr {
  background: url("../img/twtr-icon_color.png") center center no-repeat; }
  .social-link--twtr:hover {
    background: url("../img/twtr-icon_color.png") center center no-repeat; }

.social-link--fb {
  background: url("../img/fb-icon_color.png") center center no-repeat; }
  .social-link--fb:hover {
    background: url("../img/fb-icon_color.png") center center no-repeat; }

.social-link--gplus {
  background: url("../img/gplus-icon_color.png") center center no-repeat; }
  .social-link--gplus:hover {
    background: url("../img/gplus-icon_color.png") center center no-repeat; }

.social-link--telegram {
  background: url("../img/telegram-icon-color.png") center center no-repeat; }
  .social-link--telegram:hover {
    background: url("../img/telegram-icon-color.png") center center no-repeat; }

.footer__phone{
	text-decoration: none;
	color: #000;
}

/* Popup */

.mdc-dialog__surface{
	color: #000;
	width: 95%;
	max-width: 480px;
	min-width: 0;
	text-align: center;
}

.mdc-dialog__close{
	position: absolute;
	top: 12px;
	right: 12px;
	color: #000;
	cursor: pointer;
	opacity: .5;
}
.mdc-dialog__close:hover{
	opacity: .9;
}

.mdc-dialog__header__title{
	font-family: "Open Sans";
	font-weight: 600;
	letter-spacing: 0;
	line-height: 1.4;
}

.mdc-dialog__body{
	font-size: 16px;
	margin-top: 8px;
	font-family: "Open Sans";
	letter-spacing: 0;
	line-height: inherit;
}

.mdc-dialog-scroll-lock{
	height: auto;
	overflow: visible;
}

/* Map */
.map{
	position: relative;
	height: 860px;
	overflow: hidden;
}

#map{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
}

.descrTable {
	width: position:relative; width: 100%
}

.descrImage {
		width: 80%;
		position: relative;
		left: 10%;
}

.descrText {
		width: 80%;
		position: relative;
		left: 10%;
		text-align: justify;
}

@media (max-width: 1400px){
	.descrTable {
			display: none !important;
	}
}

@media (min-width: 1401px){
	.descrImage {
			display: none !important;
	}
	.descrText {
		display: none !important;
	}
}


@media (max-width: 1200px){
 	#map{
	 	position: relative;
	}

	.map{
		position: relative;
		height: 100%;
	}
 }


.map-card{
	width: 80%;
	position: absolute;
	right: 10%;
	top: 40px;
	z-index: 2000;
	background-color: #fff;
	padding: 36px 36px 42px;
	border-radius: 24px;
	font-size: 16px;
	box-shadow: 0 16px 64px rgba(0,0,0,.18);
	line-height: 1.5
}

 @media (max-width: 1200px){
 	.map-card{
	 	position: relative;
	 	width: 100%;
	 	border-radius: 0;
	 	right: auto;
	 	top: auto;
	 	box-shadow: none;
	}
 }

.map-card:after {
    content: "";
    position: absolute;
    right: 26px;
    top: 26px;
    width: 32px;
    height: 32px;
    border-width: 3px 3px 0 0;
    border-style: solid;
    border-color: #53a0e8;
}

/* Program */

.program{
	position: relative;
	background: rgba(83, 160, 232, 0.03);
	padding-top: 64px;
	padding-bottom: 100px;
}
	.program__inner{
		max-width: 1600px;
	}

	.program__col{
		position: relative;
		margin-top: 40px;
		padding: 0 100px 80px;
	}

	.program__col:first-child::after{
		content:"";
		width: 1px;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		background-color: #dedede;
	}

	.program__col:nth-child(2)::after{
		content:"";
		width: 1px;
		height: 100%;
		position: absolute;
		left: -1px;
		top: 0;
		background-color: #dedede;
	}

	.program__more-text{
		position: absolute;
		left: 0;
		right: 0;
		text-align: center;
		bottom: 32px;
	}

	.program__col:nth-child(2){
		margin-top: 330px;
	}

	@media (max-width: 1360px){
		.program__col{
			padding-left: 60px;
			padding-right: 60px;
		}
	}

	@media (max-width: 1100px){
		.program{
			border-bottom: 1px solid #dedede;
		}

		.program__col{
			padding-left: 30px;
			padding-right: 30px;
			margin-top: 80px;
			padding-bottom: 36px;
		}

		.program__col:first-child{
			padding-bottom: 0;
		}

		.program__col:nth-child(2){
			margin-top:130px;
		}

		.program__col::after{
			display: none;
		}
	}

	@media (max-width: 560px){
		.program__col{
			padding-left: 10px;
			padding-right: 10px;
		}
	}


.report-card{
	position: relative;
	max-width: 410px;
	line-height: 1.5;
	margin-left: auto;
	margin-right: auto;
	margin-top:210px;
}
	.report-card:first-child{
		margin-top:0;
	}

	.report-card__descr{
		position: relative;
	}

	.report-card__text{
		color: rgba(0,0,0,.82);
		font-size: 18px;
	}

	.report-card__author{
		position: relative;
		color: rgba(0,0,0,.54);
		font-size: 18px;
		margin-top: 36px;
		margin-bottom: 60px;
		padding-left: 72px;
	}

	.report-card__author-pic{
		width: 60px;
		height: 60px;
		border-radius: 50%;
		position: absolute;
		left:0;
		top: 50%;
		margin-top: -30px;
	}

	.report-card__pic{
		position: relative;
		display: inline-block;
		margin-bottom: 32px;
	}

	.report-card__img{
		position: relative;
		display: block;
		z-index: 2;
		max-width: 100%;
		box-shadow: 0 15px 30px rgba(0,0,0,.18);
	}


	@media (max-width: 1200px){
		.report-card{
			margin-left: auto;
			margin-right: auto;
			max-width: 550px;
		}

		.report-card{
			margin-top:130px;
		}
			.report-card:first-child{
				margin-top:0;
			}
	}

	@media (max-width: 560px){

		.report-card__text,
		.report-card__author{
			font-size: 15px;
		}
	}

	.report-card--v{
		max-width: none;
	}

		.report-card--v .report-card__pic{
			position: relative;
			top: -60px;
			float: left;
			padding-right: 40px;
			width: 260px;
			text-align: center;
			margin-bottom: 0;
		}

		.report-card--v.report-card--r .report-card__pic{
			float: right;
			padding-left: 40px;
		}

		.report-card--v.report-card--l .report-card__author{
			margin-left: 260px;
		}

		/*.report-card--v.report-card--r .report-card__author{
			position: absolute;
			bottom: 12px;
			left: 0px;
		}*/

		.report-card--v .report-card__descr{
			position: static;
		}

	@media (max-width: 1360px){
		.report-card--v .report-card__pic{
			width: 240px;
			padding-right: 20px;
		}

		.report-card--v.report-card--l .report-card__author{
			margin-left: 240px;
		}
	}

	@media (max-width: 1100px){
		.report-card{
			border-bottom: 1px solid #dedede;
		}

		.report-card--v{
			max-width: 550px;
		}
	}

	@media (max-width: 560px){
		.report-card--v .report-card__pic,
		.report-card--v.report-card--r .report-card__pic{
			float: none;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 32px;
			padding: 0;
			top:0;
		}

		.report-card--v .report-card__img{
			margin-left: auto;
			margin-right: auto;
		}

		.report-card--v .report-card__author{
			position: relative;
			left: auto;
			bottom: auto;
		}

		.report-card--v.report-card--l .report-card__author{
			margin-left: 0;
		}

		.report-card--v{
			max-width: 410px;
		}
	}

	/*.report-card--l{
		margin-left: 80px;
	}

	.report-card--r{
		margin-right: 80px;
	}*/

.figure{
	position: absolute;
}

.figure--1{
	right: -100px;
	top: -60px;
	width: 270px;
	height: 270px;
	background-color: #feff93;
}

.figure--2{
	left: -90px;
	top: -35px;
	width: 315px;
	height: 323px;
	background-color: #e6f3ff;
}

.figure--3{
	background: #ff8bb2;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    top: 67px;
    left: -120px;
}

.figure--4{
	left: 0;
	right: 0;
	top: -120px;
	width: 360px;
	height: 360px;
	background-color: #e6f3ff;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}

.figure--5{
	background: #feff93;
    width: 400px;
    height: 232px;
    left: -45px;
    top: -45px;
}

.figure--6{
	background-color: #ff8bb2;
	right: -60px;
	top: -60px;
	width: 270px;
	height: 270px;
}

.figure--7{
	left: -90px;
    top: -28px;
    width: 315px;
    height: 323px;
    background-color: #076dbf;
}

.figure--8{
	background-color: #7cd69a;
	right: -60px;
	top: -60px;
	width: 270px;
	height: 270px;
}

.signal-img{
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	top: 32px;
}
