
html{
  @media (max-width: $breakpoint-sm-min) {
    font-size: 14px;
  }
}

a{
  outline: 0
}

a {
  color: $primary;
  &:hover,
  &:active,
  &:focus{
    color: $accent;
  }
}

.light-link,
.q-dark a{
  color: white;
  
  &:hover,
  &:active,
  &:focus{
    &:not(.nolink){
      opacity: .8;
    }
  }
}

.text-link{
  color: currentColor;
  text-decoration: none;
  border-bottom-width: 0;
}

.nolink{
  &,
  &:hover,
  &:focus,
  &:active {
    color: currentColor;
    text-decoration: none;
    border-bottom-width: 0;
  }
}


// Uncomment to override the default breakpoints
//$breakpoint-xs: 599px
//$breakpoint-sm: 1023px
//$breakpoint-md: 1439px
//$breakpoint-lg: 1919px

$container-padding: 0px;

.app-layout{
  overflow: hidden;
}

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: $breakpoint-sm-min) {
    .container,
    .container-sm {
        max-width: $breakpoint-xs - $container-padding;
    }
}

@media (min-width: $breakpoint-md-min) {
    .container,
    .container-sm,
    .container-md {
        max-width: $breakpoint-sm - $container-padding;
    }
}

@media (min-width: $breakpoint-lg-min) {
    .container,
    .container-sm,
    .container-md,
    .container-lg {
        max-width: $breakpoint-md - $container-padding;
    }
}


h1, h2, h3, h4, h5, h6,
.text-h1, .text-h2, .text-h3, .text-h4, .text-h5, .text-h6 {
  margin: 0;
  font-family: 'Ubuntu', 'Roboto', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;

  a{
    color: currentColor;
    text-decoration: none;
  }
}

.text-body2{
  @media (max-width: $breakpoint-sm-min){
    font-size: 1rem !important;
  }
}

.text-subtitle1{
  @media (max-width: $breakpoint-sm-min){
    font-size: 1.15rem !important;
  }
}

.huge-text{
  font-size: 175px !important;
}

.q-btn{
  font-family: 'Ubuntu', 'Roboto', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.index-article{
  margin-bottom: 64px;
  border-radius: 6px;
}


.q-mx-nmd{
  margin-left: - map-get($space-md, 'x') !important;
  margin-right: - map-get($space-md, 'x') !important;
}
.q-mx-nlg{
  margin-left: - map-get($space-lg, 'x') !important;
  margin-right: - map-get($space-lg, 'x') !important;
}
.q-ml-nsm{
  margin-left: - map-get($space-sm, 'x') !important;
}

picture > img{
  max-width: 100%;
  height: auto;
}

.dialog-close{
  position: absolute !important;
  top: 8px;
  right: 8px;
}

.app-page{
  padding-bottom: 100px;
}